---
import SeparacionDiagonal from "./SeparacionDiagonal.astro"

---
<SeparacionDiagonal backgroundColor = "bg-gray-900" borderColor="bg-gray-300"></SeparacionDiagonal>
<footer class="relative bg-gray-300 pt-20 pb-6 -mt-20" id="contactanos">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
          </div>
        </div>
      </div>
      <hr class="my-6 border-gray-400" />
      <div class="flex flex-wrap items-center justify-center">
        <div class="text-sm text-gray-600 font-semibold py-1 text-center">
          Copyright © 2019 Tailwind Starter Kit by
          <a
            href="#"
            class="text-gray-600 hover:text-gray-900">Creative Tim</a
          >.
        </div>
      </div>
    </div>
  </footer>