---
import Footer from "./Footer.astro"
import SeparacionDiagonal from "./SeparacionDiagonal.astro"
import Seccion3 from "./Seccion3.astro"
import Seccion2 from "./Seccion2.astro"
---

<section class="relative py-20 bg-white">
    <SeparacionDiagonal></SeparacionDiagonal> 
    <Seccion3></Seccion3>
    <Seccion2></Seccion2>
    <Footer></Footer>
</section>
