---
import Footer from "./Footer.astro"
import SeparacionDiagonal from "./SeparacionDiagonal.astro"
import Seccion3 from "./Seccion3.astro"
import Ubicacion from "./Ubicacion.astro"
import Mitades from "./Mitades.astro"
import Bestido from './Bestido.astro';
import Tercera from './Tercera.astro';
---

<section class="relative pt-20 bg-white">
    <SeparacionDiagonal backgroundColor = "bg-gray-300" borderColor="bg-white"></SeparacionDiagonal> 
    <Seccion3></Seccion3>
    <SeparacionDiagonal backgroundColor = "bg-white" borderColor="bg-gray-300" id=""></SeparacionDiagonal>
    <Tercera></Tercera>
    <SeparacionDiagonal backgroundColor = "bg-gray-300" borderColor="bg-gray-900" id="ubicación"></SeparacionDiagonal>
    <Ubicacion></Ubicacion>
    <Footer></Footer>
</section>
