---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Fondo from '../components/Fondo.astro';
import Contenedor from '../components/Contenedor.astro';
import Intro2 from '../components/Intro2.astro';
---

<Layout title="Puntadas de colores">
	<main>
		<Navbar></Navbar>
		<Fondo></Fondo>
		<Contenedor></Contenedor>
		<Intro2></Intro2>
	</main>
</Layout>

<style>

</style>
